<div class="container">

       <!-- Main component for a primary marketing message or call to action -->
       <div class="jumbotron jumbotron-fluid">
         <div class="container">
         <%= image_tag 'logo.png', class: 'centerimg img-responsive' %>

         <p><i>Comming Soon!</<i>

</p>
       </div>
</div>
     </div> <!-- /container -->
