<div class="container">

   <!-- Main component for a primary marketing message or call to action -->
   <div class="jumbotron jumbotron-fluid">
     <div class="container">
       <%= image_tag 'logo.png', class: "centerimg img-responsive" %>

       <p>
        <%= image_tag 'portrait.png', class: "pull-left img-responsive"%>
         Welcome to our wedding website! Thank you so much for visiting! We are very excited to be getting married this year and we hope you can join us for our wedding.
         <br><br>We would love to share all of our thoughts with you along the way, so please check our guestbook and let us know if you have any ideas, comments or advice. Please come back often, as we will be adding new details regularly!

        </p>
     </div>
  </div>
 </div> <!-- /container -->
